librosa==0.6.3
numpy
pandas
soundfile==0.9.0
wave
scikit-learn==0.24.2
tqdm==4.28.1
matplotlib==3.3.4
pyaudio==0.2.11
tensorflow==2.10.1
torch==1.13.1
transformers==4.28.1
streamlit==1.19.0
pipwin==0.5.2
llvmlite==0.31.0
numba==0.48.0
typing-extensions==4.5.0
protobuf==3.19.6
altair==4.2.2

